p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto;
  text-align: center;
}
.text-1 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 5px;
}
.text-2 {
  font-size: 17px;
  font-weight: lighter;
}
.text-2 span {
  text-decoration: underline;
  cursor: pointer;
}