p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.header {
  background-color: rgb(221, 220, 220);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile {
  display: flex;
  align-items: center;
}
.profile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}
.profile p {
  font-weight: 700;
}
.btn-1, .btn-2 {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}
.btn-1 {
  background-color: rgba(77, 77, 240, 0.801);
  color: white;
  margin-right: 10px;
}
.sidebar {
  position: fixed;
  background-color: rgb(58, 58, 58);
  top: 65px;
  bottom: 0;
  left: 0;
  width: 200px;
  display: flex;
}
.profile-2 {
  background-color: dimgrey;
  width: 60px;
  padding-top: 10px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
 align-items: center;
}
.profile-2 img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5px;
  cursor: pointer;
}
.info-section {
  flex: 1;
  padding: 10px;
}
.text-title {
  color: white;
  font-weight: 600;
  font-size: 13px;
}
.add {
  color: rgb(144, 144, 144);
  font-size: 23px;
  cursor: pointer;
}
.add:hover {
  color: white;
}
.section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hashtags-1 {
  color: rgb(144, 144, 144);
  margin-top: 10px;
  cursor: pointer;
}
.hashtags {
  color: rgb(144, 144, 144);
  margin-top: 15px;
  cursor: pointer;
}
.hashtags:hover, .hashtags-1:hover {
  color: white;
  background-color: rgb(122, 122, 122);
}