.btn-1 {
  background-color: black;
  color: white;
  border: none;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  transition: opacity 0.15s;
  vertical-align: top;
}

.btn-1:hover {
  opacity: 0.7;
}

.btn-2 {
  background-color: yellow;
  color: black;
  border: none;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 18px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.15s;
  vertical-align: top;
}

.btn-2:hover {
  background-color: rgb(222, 222, 0);
}

.btn-3 {
  background-color: green;
  color: white;
  border: none;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 8px;
  font-weight: bold;
  margin-right: 8px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  vertical-align: top;
}

.btn-3:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.btn-4a {
  background-color: purple;
  color: white;
  border: none;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 2px;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.15s;
  vertical-align: top;
}

.btn-4a:hover {
  background-color: rgb(104, 6, 104);
}

.btn-4b {
  background-color: white;
  color: purple;
  border-color: purple;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  font-weight: bold;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  margin-right: 8px;
  cursor: pointer;
  transition: background-color 0.15s, white 0.15s;
  vertical-align: top;
}

.btn-4b:hover {
  background-color: purple;
  color: white;
}

.btn-5a {
  background-color: blue;
  color: white;
  font-weight: bold;
  border: none;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  border-radius: 18px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.15s;
  vertical-align: top;
}

.btn-5a:hover {
  background-color: darkblue;
}

.btn-5b {
  background-color: white;
  color: blue;
  border-color: blue;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  border-radius: 18px;
  cursor: pointer;
  transition: background-color 0.15s, border-width 0.15s;
  vertical-align: top;
  margin-right: 8px;
}

.btn-5b:hover {
  background-color: lightblue;
  border-width: 2px;
}

.btn-6 {
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 15px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.btn-7 {
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: padding-top 0.5s, padding-right 0.5s, padding-bottom 0.5s,
    padding-left 0.5s;
}

.btn-7:hover {
  padding-top: 15px;
  padding-right: 21px;
  padding-bottom: 15px;
  padding-left: 21px;
}

.btn-8 {
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-left: 8px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.btn-8:active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn-9a,
.btn-9b,
.btn-9c {
  background-color: green;
  color: white;
  border: none;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
  transition: padding-right 0.5s, padding-left 0.5s, margin 0.15s;
}

.btn-9a:hover,
.btn-9b:hover,
.btn-9c:hover {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 0;
  margin-left: 0;
}
