.flexbox-1 {
  display: flex;
  height: 50px;
  margin-bottom: 8px;
}
.item-1a {
  background-color: lightblue;
  width: 100px;
  display: flex;
  justify-content: center;
}
.item-1a p {
  background-color: black;
  color: white;
}
.item-1b {
  background-color: lightpink;
  width: 200px;
}
.flexbox-2 {
  display: flex;
  height: 100px;
}
.item-2a {
  background-color: lightblue;
  width: 100px;
}
.item-2b {
  background-color: lightpink;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row2 p {
  background-color: black;
  color: white;
}
.item-2b p, .row2 p {
  margin-top: 0;
  margin-bottom: 0;
}