.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 55px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(186, 186, 186);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  margin-left: 50px;
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: center;
  column-gap: 5px;
}
.profile-picture {
  width: 100%;
  height: 32px;
  border-radius: 50%;
}
.profile-name {
  font-family: Arial;
  font-weight: bold;
}
.profile-btn {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.btn-1,
.btn-2 {
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.btn-1 {
  background-color: rgb(77, 77, 236);
  color: white;
  margin-right: 5px;
}
.btn-2 {
  background-color: rgb(163, 163, 163);
  color: black;
  margin-left: 5px;
}

.btn-1:hover,
.btn-2:hover {
  opacity: 0.7;
}

.sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: gray;
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 10px;
}
.profiles {
  background-color: darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profiles img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 5px;
  margin-top: 5px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info-2 p {
  margin-top: 0;
  margin-bottom: 10px;
  color: rgb(46, 46, 46);
}
.info-1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.text {
  font-family: Arial;
  font-weight: bold;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.entity {
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  color: rgb(46, 46, 46);
  padding-right: 10px;
}
