.container-1 {
  background-color: red;
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 8px;
}
.container-2 {
  background-color: green;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
}
.container-3 {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  width: 250px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
}
.text-1  {
  margin: 0;
  margin-bottom: 16px;
}
.btn-1a {
  background-color: red;
  color: white;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
.btn-1b {
  background-color: green;
  color: white;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}
.container-4 {
  background-color: rgb(0, 0, 0);
  width: 400px;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
}
.text-2a {
  color: white;
}
.text-2b {
  color: gray;
}
.container-5 {
  width: 330px;
  margin-top: 8px;
  border-radius: 4px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
}
.image-4 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  vertical-align: middle;
}
.textbox-4 {
  width: 200px;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  border: none; 
  vertical-align: middle;
}
.btn-2 {
  font-weight: bold;
  background-color: rgb(36, 36, 185);
  color: white;
  border: none;
  border-radius: 15px;
  padding-top: 6px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 8px;
  vertical-align: middle;
  cursor: pointer;
}
.btn-2:hover {
  opacity: 0.7;
}
.container-6 {
  display: inline-block;
  margin-right: 8px;
  margin-top: 10px;
  width: 150px;box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
}
.container-6 .image-1 {
  width: 100%;
}
.text-3a, .text-3b {
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
}
.text-3a {
  font-weight: bold;
  margin-bottom: 5px;
}
.text-3b {
  color: gray;
  font-size: 14px;
  margin-bottom: 5px;
}
.btn-3 {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 2px;
  padding-top: 8px;
  padding-right: 14px;
  padding-bottom: 8px;
  padding-left: 14px;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 5px;
}

.btn-3:hover {
  opacity: 0.7;
}

.container-7 {
  display: inline-block;
}