p{
  font-family: Roboto;
  margin: 0;
  text-align: center;
}
.text-1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}
.text-2 {
  font-size: 18px;
}
.text-2 span {
  text-decoration: underline;
}