.btn-1 {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}

.btn-1:hover {
  opacity: 0.8;
}

.btn-1:active {
  opacity: 0.5;
}

.btn-2 {
  background-color: white;
  color: rgb(4, 31, 139);
  border-color: rgb(4, 31, 139);
  border-style: solid;
  border-width: 1px;
  height: 36px;
  width: 62px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s, opacity 0.15s;
}

.btn-2:hover {
  background-color: rgb(4, 31, 139);
  color: white;
}

.btn-2:active {
  opacity: 0.7;
}

.btn-3 {
  background-color: rgb(2, 133, 255);
  color: white;
  border: none;
  height: 36px;
  width: 74px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.btn-3:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
