p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  font-family: Roboto, Arial;
  margin: 0;
  padding: 80px 24px 0 96px;
  background-color: rgb(247, 246, 246);
  height: 3000px;
}

@media (min-width: 1200px) {
  body {
    padding: 80px 24px 30px 240px;
  }
}