p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}
.thumbnail {
  width: 100%;
}
.video-link {
  text-decoration: none;
  color: black;
}
.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.search-bar {
  font-size: 20px;
  display: block;
}
/* .video-preview {;
} */
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.channel-picture {
  position: relative;
}
/* .video-info {
} */
.profile-picture,
.channel-picture-tooltip img {
  width: 36px;
  border-radius: 50px;
}
.channel-picture .channel-picture-tooltip {
  position: absolute;
  bottom: -35px;
  display: grid;
  grid-template-columns: 36px 1fr;
  column-gap: 10px;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.8);
  white-space: nowrap;
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.channel-picture:hover .channel-picture-tooltip {
  opacity: 1;
}

.tooltip-text {
  font-family: Roboto, Arial;
}
.tooltip-text .text-1 {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 4px;
}
.tooltip-text .text-2 {
  font-size: 12px;
  color: gray;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

/*Start of Responsive Design*/
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-grid p {
    line-height: 24px;
  }
  .video-title {
    font-size: 16px;
  }
  .video-author, .video-stats {
    font-size: 14px;
  }
}

/*End of Responsive Design*/

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
