.thumbnail {
  width: 100%;
}
.video-link,
.user-name {
  text-decoration: none;
}
.video-title {
  color: black;
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.profile-picture {
  width: 36px;
  border-radius: 40px;
}
.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
.video-author {
  margin-bottom: 4px;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (min-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-author,
  .video-stats {
    font-size: 14px;
  }
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1200.1px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.video-time {
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
.profile-picture-container {
  position: relative;
  cursor: pointer;
}
.tooltip-card {
  background-color: rgb(255, 254, 254);
  box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -70px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
}
.profile-picture-container:hover .tooltip-card {
  opacity: 1;
}
.tooltip-card img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
}
.tooltip-info {
  flex: 1;
}
.tooltip-info .text-1 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.tooltip-info .text-2 {
  font-size: 12px;
  color: gray;
}
