p {
  font-family: Roboto;
  margin-bottom: 0;
  margin-top: 0;
}
.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}
.video-stats {
  font-size: 14px;
  color: #999999;
  margin-bottom: 20px;
}
.video-author {
  font-family: Arial;
  font-size: 14px;
  color: #525151;
  margin-bottom: 20px;
}
.video-description {
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}
.apple-text {
  margin-bottom: 50px;
  font-size: 14px;
  background-color: rgb(214, 36, 36);
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.span-example {
  color: red;
}

.span-example:hover {
  text-decoration: underline;
}

.shop-link {
  margin-left: 12px;
  cursor: pointer;
  transition: font-weight 0.15s, color 0.15s;
}

.shop-link:hover {
  text-decoration: underline;
}
.shop-link:active {
  color: yellow;
  font-weight: bold;
}
